# Python venv
.venv/

# Byte-code / caches
__pycache__/
*.py[cod]

# Environment / editor
.env
*.env.*         # .env.local, .env.prod, etc.
!.env.example   # keep the public template tracked
.vscode/
.idea/



# macOS junk
.DS_Store
